flask
flask-admin
flask-simplelogin
flask-bootstrap
flask-sqlalchemy
sqlalchemy-serializer
dynaconf
click
flask-restful
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
